.lists-container {
  height: calc(100vh - var(--nav-height));
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--toggle-lists-transiton);
}

.toggle-lists {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 2rem;
}

@media screen and (min-width: 480px) {
  .toggle-lists {
    display: none;
  }
}

.w-0 {
  width: 0;
}
