.actions-content {
  position: absolute;
  right: 0;
  top: var(--item-height);
  z-index: 2;
}

.actions-content > button {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--separator-color);
  text-align: left;
}

.actions-content > button:last-child {
  border: none;
}

.actions-content > button:hover,
.actions-content > button:focus {
  background-color: #eee;
}
