ul.items {
  background-color: rgba(0, 0, 0, 0.2);
}

ul.items > li {
  min-height: 52px;
  margin-bottom: 1px;
  background-color: #cdecff;
}

ul.items > li.checked {
  background-color: #96ccff;
}

ul.items > li > div:hover,
ul.items > li > div:focus {
  background-color: #357edd;
}

.actions-dropdown {
  min-width: 52px;
}

.actions-dropdown > button {
  width: 100%;
  height: 100%;
}

.check {
  align-self: center;
  width: 52px;
}

.item-name {
  width: inherit;
  word-break: break-word;
}
