.actions-content {
  position: absolute;
  right: 0;
  top: 52px;
  z-index: 2;
}

.actions-content > button {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.actions-content > button:last-child {
  border: none;
}

.actions-content > button:hover,
.actions-content > button:focus {
  background-color: #eee;
}
