ul.items > li {
  background-color: #eee;
  transition: 0.2s;
}

ul.items > li:nth-child(odd) {
  background-color: #f9f9f9;
}

ul.items > li.checked {
  background-color: #888;
  color: #fff;
}

ul.items > li:hover,
ul.items > li:focus {
  background-color: #bbb;
}

.actions-dropdown {
  min-width: 48px;
  padding-top: 10px;
}

.check {
  min-width: 48px;
}

.item-name {
  word-break: break-all;
  word-break: break-word;
}
