nav {
  position: sticky;
  top: 0;
  z-index: 3;
  height: var(--nav-height);
}

nav button {
  width: var(--nav-height);
  height: var(--nav-height);
}

nav button:hover,
nav button:focus {
  background-color: var(--list-hover-color);
}

.separator {
  width: 1px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 480px) {
  nav.flex {
    justify-content: initial;
  }
}
