.add-list {
  min-width: 2rem;
}

.separator {
  width: 1px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 480px) {
  nav.flex {
    justify-content: initial;
  }
}
