nav {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 44px;
}

nav button {
  width: 44px;
}

nav button:hover,
nav button:focus {
  background-color: #e6c300;
}

.add-list {
  min-width: 2rem;
}

.separator {
  width: 1px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 480px) {
  nav.flex {
    justify-content: initial;
  }
}
