nav {
  position: sticky;
  top: 0;
  z-index: 3;
  height: var(--nav-height);
}

nav button {
  width: var(--nav-height);
  height: var(--nav-height);
}

nav button:hover,
nav button:focus {
  background-color: var(--list-hover-color);
}

@media screen and (min-width: 480px) {
  nav.flex {
    justify-content: initial;
  }
}

.navigation-button {
  margin-top: var(--nav-button-margin);
  margin-bottom: var(--nav-button-margin);
  height: calc(var(--nav-height) - 2 * var(--nav-button-margin));
  width: calc(var(--nav-height) - 2 * var(--nav-button-margin));
  border: 1px solid transparent;
  border-radius: 4px;
}