ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 32px 12px 40px;
	overflow-wrap: break-word;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
}

ul li:nth-child(odd) {
	background: #f9f9f9;
}

ul li:hover, ul li:focus {
	background: #ddd;
}

ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

.actions-dropdown {
	background-color: transparent;
	font-weight: bold;
	border-color: transparent;
	padding: 12px 20px;
}

.actions-dropdown:hover, .actions-dropdown:focus {
	background-color: #FF4136;
	color: white;
}

.actions-content {
	position: absolute;
	right: 0;
	top: 48px;
	z-index: 1;
	background-color: #eee;
}

.actions-content>button {
	display: block;
	background-color: transparent;
	padding: 12px 16px;
	border: none;
	text-align: left;
}

.actions-content>button:hover, .actions-content>button:focus {
	background-color: #ddd;
}
