html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf1a9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noselect {
  user-select: none;
}

.edit-button {
  min-width: 48px;
}

.toast {
  position: fixed;
  z-index: 3;
  width: 16rem;
  left: 50%;
  margin-left: -8rem;
  padding: 1rem;
  background-color: #19a974;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.5s;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.toast:hover {
  cursor: pointer;
  background-color: #137752;
}

.toast.show {
  bottom: 3rem;
  opacity: 1;
  visibility: visible;
}
